@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,300italic,700,700italic&display=swap");


body {
   font-family: "Poppins", sans-serif;
   background-color: #E5E5E5;
   color: #6C757D;
	font-size: 14px;
}


.container {
   max-width: 816px;
   margin: 0 auto;
   margin-bottom: 80px;
}

.title {
   color: #212529;
   font-size: 25px;
   font-weight: 700;
   line-height: 40px;
   margin-bottom: 40px;
}

.first-title {
   max-width: 400px;
}

.second-title {
   max-width: 605px;
}


.main-text {
   font-weight: 300;
   font-size: 14px;
   line-height: 1.7;
}

.p1 {
   margin-bottom: 26px;
}

.img0 {
   display: block;
   margin: 0 auto;
   max-width: 100%;
   margin-bottom: 80px;
}

.image2 {
   max-width: 100%;
   font-size: 0;
   margin: 0 auto 80px;
}

.img1 {
   max-width: 50%;
   padding-right: 15px;
}

.img2 {
   max-width: 50%;
   padding-left: 15px;
}

.link {
   display: inline-block;
   color: deeppink
}